<footer class=>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © <span id="ano"></span> <a href="#">Cyborg Gaming</a> Company. All rights reserved. 
                <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a> 
                Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
                
                <script>
                    // 1. Pega o ano atual
                    const anoAtual = new Date().getFullYear();

                    // 2. Seleciona o span através do ID
                    const spanAno = document.getElementById('ano');

                    // 3. Altera o texto do span
                    spanAno.textContent = anoAtual;
                </script>
            </div>
        </div>
    </div>
</footer>