<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('home') }}" class="logo">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Search Start ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword" onkeypress="handle" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** Search End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Details</a></li>
                        <li><a href="#">Streams</a></li>
                        <li><a href="#">Profile <img src="{{ url_for('static', filename='img/profile-header.jpg') }}" alt=""></a></li>
                    </ul>   
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->